<style>
    .injected-text {
      margin-bottom: -25px;
      text-align: center;
    }
  
    .box {
      border-style: solid;
      border-color: black;
      border-width: 5px;
      text-align: center;
    }
  
    .yellow-box {
      background-color: yellow;
      padding: 10px;
    }
  
    .red-box {
      background-color: crimson;
      color: #fff;
      padding-top: 40px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
    }
  
    .blue-box {
      background-color: blue;
      color: #fff;
      padding-top: 40px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 40px;
    }
  </style>
  <h5 class="injected-text">margin</h5>
  
  <div class="box yellow-box">
    <h5 class="box red-box">padding</h5>
    <h5 class="box blue-box">padding</h5>
  </div>
  